
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
</head>
<body>
    <h3>Главная страница магазина</h3>

    <p>
        <a href="/Home/Employees">Сотрудники магазина</a>
    </p>
</body>
</html>
