@{
    ViewBag.Title = "Область администратора";
}

<p>Область администратора</p>

<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <i class="fa fa-keyboard-o"></i> На главную
    </a>
</p>
